<h3>User info</h3>

  <%= image_tag @user.profile_image, size: "100×100" %>

  <h5>name</h5>
  <p><%= @user.name %></p>

  <h5>introduction</h5>
  <p><%= @user.introduction %></p>

  <%= link_to "Edit", edit_user_path(@user.id) %>