<div class="container">

  <h3>welcome to Bookers !!</h3>

  <p>In Bookers,

    you can share and exchange your opinions , inpressions , and emotions

    about various books!</p>

  <p>Log in</p>

  <p>Sign up</p>

</div>